@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This is a small demo website for use in the Friducation DevOps workshop.</p>
<p>Created by Erik Verboom</p>
