@page
@using Friducation.DevOps.Shared;
@model IndexModel
@{
    ViewData["Title"] = "Main";
}

<div class="text-center">
    <h1 class="display-4">Friducation DevOps Workshop</h1>
    <img src="img/kpn-logo.svg" style="width:300px; margin:20px" />
    <p>
        Welcome to the Friducation DevOps Workshop!
    </p>
</div>
